* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: Gabarito;

}

.navbar {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid black 1px;
}

.navbar_s1 {
    color: #892DE1;
    margin-right: 4px;
}

.navbar_s2 {
    padding: 5px 12px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
}

.navbar_s2 input {
    border: none;
    width: 100%;

}

.navbar_s2 input:focus {
    outline: none;
}

.navbar_s3 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 20px;
    padding: 10px;

}

@media screen and (max-width:900px) {

    .navbar_s1 h1 {
        font-size: 22px;
    }
    .navbar_s2 {
        width: 40%;
    }
    .navbar_s3 p {
        font-size: 14px;
    }

}

.category {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: solid black 1px;

}

.category p {
    background-color: #892DE1;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin: 6px;
}

.sale_image {
    width: 100%;
}

.sale_image img {
    width: 100%;
    height: auto;
    display: block;

}

.recommendations {
    padding: 10px;
}

.course_card {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
   justify-content: flex-start;
    align-items: stretch;
    gap: 30px;
    

}
.course_card div{
    align-items: center;
    width:23%;

}
.course_card img {
      width:100%;
    height: 200px;;

}
@media screen and (max-width:900px){

    .course_card div{
        width:45%;   /* 2 cards per row ,took idea from ai for responsiveness*/
    }

}


.topics_container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 10px;
}

.topics_container p {
    border: solid black 2px;
    flex-basis: 25%;
    flex-grow: 1;
    padding: 10px;

}

.popular_container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 20px;
    justify-content: space-between;
}

.popular_card {
    border: solid #892DE1 2px;
    border-radius: 10px;
    padding: 10px;
    width: 23%;       
    display: flex;
    flex-direction: column;
}

.popular_card img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 900px) {

    .popular_card {
        width: 45%; /* 2 card per row ,took idea from ai for responsiveness*/
    }
}

@media screen and (max-width: 500px) {

    .popular_card {
        width: 100%; /* 1 card per row ,took idea from ai for responsiveness*/
    }
}



.footer {
    margin: 10px;
    padding-bottom: 30px;
    background-color: black;
    color: white;


}

.footer_one {
    display: flex;
    gap: 20px;

}

.footer_one p {
    margin: 20px;

}

.footer_two {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
}