* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: Gabarito;

}

.navbar {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid black 1px;
}

.navbar_s1 {
    color: #892DE1;
}

.navbar_s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 10px;
}

.navbar_s2 input {
    border: none;
    width: 100%;

}

.navbar_s2 input:focus {
    outline: none;
}

.navbar_s3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 10px;

}

.category {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: solid black 1px;

}

.category p {
    background-color: #892DE1;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin: 6px;
}

.sale_image {
    width: 100%;
}

.sale_image img {
    width: 100%;
    height: auto;
    display: block;

}

.recommendations {
    padding: 10px;
}

.course_card {
    margin-top: 10px;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    gap: 30px;
    width: 100%;
    


}

.course_card img {
    width: 300px;
    height: 250px;

}



.topics_container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 10px;
}

.topics_container p {
    border: solid black 2px;
    flex-basis: 25%;
    flex-grow: 1;
    padding: 10px;

}

.popular{
    margin: auto;

}
.popular_container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 25%;
    padding: 10px;
    gap: 80px;
    flex-grow: 1;
    justify-content: space-around;
}

.popular_card {
    border: solid #892DE1 2px;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    display: flex;
    flex-direction: column;


}

.popular_card h3,
.popular_card p {
    margin-top: 5px;
}

.popular_card img {
    width: 280px;
    height: 200px;
}


/* footer section  */

.footer {
    margin: 10px;
    padding-bottom: 30px;
    background-color: black;
    color: white;


}

.footer_one {
    display: flex;
    gap: 20px;

}

.footer_one p {
    margin: 20px;

}

.footer_two {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
}